<div *ngIf="selectCocktail" class=".d-flex flex-column">
  <img class="mb-20" [src]="selectCocktail.img" [alt]="selectCocktail.name" />
  <h3 class="mb-20">{{ selectCocktail.name }}</h3>
  <p class="mb-20">{{ selectCocktail.description }}</p>
  <ul class="list-primary mb-20">
    <li
      *ngFor="let ingredient of selectCocktail.ingredients"
      class="d-flex flex-row"
    >
      <span class="flex-fill">{{ ingredient.name }}</span>
      <span class="badge">{{ ingredient.quantity }}</span>
    </li>
  </ul>
  <div class="d-flex flex-row flex-justify-content-between">
    <button routerLink="edit" class="btn btn-primary">
      Editer le cocktail
    </button>
    <button class="btn btn-primary" (click)="addToPanier()">
      Ajouter au panier
    </button>
  </div>
</div>
